
obj/Debug/netcoreapp3.1/efc3.pdb
obj/Debug/netcoreapp3.1/efc3.dll
obj/Debug/netcoreapp3.1/efc3.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/efc3.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/efc3.assets.cache
*.dll
*.pdb
*.cache
*.cache
obj/Debug/netcoreapp3.1/efc3.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/efc3.assets.cache
obj/Debug/netcoreapp3.1/efc3.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/efc3.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/efc3.dll
obj/Debug/netcoreapp3.1/efc3.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/efc3.pdb
